@model IdentityDay2.Models.CMS

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>CMS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Channel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Channel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsAuthorized)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsAuthorized)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
